/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {  
    background-color: #181818;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

::selection {
    background-color: #aa84f9;
    color: #ffffff;
}

.read-more-button {
    color: #ffffff;
    font-family: "Oswald";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.08px;
    background-color: #aa84f9;
    margin-top: 40px;
    text-transform: uppercase;
    padding: 12px 22px;
    border: 1px solid #aa84f9;
    transition: all 0.4s ease;
}

.read-more-button:hover {
    background-color: #181818;
    border: 1px solid #aa84f9;
    transition: all 0.4s ease;
}